
<!doctype html>
{% extends 'posts/base.html' %}

<html lang="en">
<head>
    {% block title %}
    Home - {{ block.super }}
    {% endblock %}
</head>

<body class="m-5">
{% block content %}







    <div class="row">
        <div class="col-md-3">
            {% if request.user.is_authenticated %}
            <h3>Hello, {{request.user}}</h3>
            {% endif %}


            <div class="card">
                <div class="card-header">
                    Categories
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="{% url 'posts' %}">All</a>
                    </li>
                    {% for category in categories %}
                    <li class=" list-group-item">
                        <a href="{% url 'posts' %}?category={{category.name}}">
                            {{category.name}}
                        </a>
                    </li>
                    {% endfor %}


                </ul>
            </div>
        </div>


    <div class="col-md-9">
        <div class="row">

          {% for post in posts %}
            <div class="col-md-4" style="">
                <div class="card my-2" style="min-height: 400px; max-height: 500px">
                          <div class="card-body">
                        <small>{{post.author}}</small>

                        <small>Category: {{post.category.name}}</small>
                    </div>

                    <img class="image-thumbail" src="{{post.image.url}}" alt="Card image cap">

                    <div class="card-body">
                        <h4>{{post.title}}</h4>

                        <p>{{post.description | truncatechars:100 }}</p>
                    </div>

                    <a href="{% url 'post' post.id %}" class="btn btn-outline-dark btn-sm m-1">View</a>

                </div>
            </div>
            {% empty %}
            <h3>No posts...</h3>
            {% endfor %}
    </div>

        </div>
    </div>
{% endblock %}

</body>

</html>