<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Posts</title>
</head>
<body>
<h1>POstss</h1>
 {% if request.user.is_authenticated %}
                <p>Hello {{request.user}}</p>
                {% endif %}

  <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="{% url 'posts' %}">All</a>
                        </li>
                        {% for category in categories %}
                        <li class=" list-group-item">
                            <a href="{% url 'posts' %}?category={{category.name}}">
                                {{category.name}}
                            </a>
                        </li>
                        {% endfor %}

</body>
</html>