<!doctype html>
{% extends 'posts/base.html' %}

<head>
    {% block title %}
    {{post.title}} - {{ block.super }}
    {% endblock %}
</head>

<body class="m-5">
{% block content %}

<div class="row justify-content-center">
    <div class="col">

        <a href="{% url 'posts' %}" class="btn btn-dark my-3">Go Back</a>

        <div style="height: 90vh; ">
            <!--<img style="max-width: 100%; max-height: 500px; float: left; padding-right: 10px" src="{{post.image.url}}">-->

            <p>{{post.content|safe}}</p>


        </div>
        {% for comment in post.comments %}
        <div class="comment">
            <p><strong>{{ comment.author }}</strong></p>
            <p>{{ comment.text }}</p>
            <p>{{ comment.pub_date }}</p>
        </div>
        {% empty %}
        <p>No comments yet.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}

</body>

